@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap);

* {
font-family:Poppins, sans-serif;
box-sizing:border-box;
margin:0;
padding:0;
}

body {
overflow:hidden;
}

section {
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
background:linear-gradient(tobottom,#f1f4f9,#dff1ff);
}

section .color {
position:absolute;
filter: blur(150px);
}

section .color:nth-child(1) {
top:-350px;
width: 800px;
height: 800px;
background:#ff359b;
}

section .color:nth-child(2) {
top:-150px;
left:100px;
width:600px;
height:600px;
background:#fffd87;
}

section .color:nth-child(3) {
bottom:50px;
right:100px;
width:400px;
height:400px;
background:#00d2ff;
}