<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlocksBlog | Compose</title>
  </head>
  <body>
    <form action="/compose" method="POST">
      <button type="submit">Logout</button>
    </form>
    <form action="/compose1" method="POST">
        <div class="input-field">
            <span>Title:</span>
            <input placeholder="Post title..." name="postTitle" type="text">
        </div>
        <div class="input-field">
            <span>Content:</span>
            <textarea placeholder="Post content..." name="postContent" id="" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Create Post +</button>
    </form>
  </body>
</html>
