<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlocksBlog</title>
    <link rel='stylesheet' type="text/css" href="/assets/css/style.css" />
    <link rel='stylesheet' href="/assets/css/loader.css">
</head>

<body>
    <div class="loaderbox">
        <div class="loader"></div>
    </div>
    <div class="main">
        <!-- Header -->
        <header>
            <a href="/" class="logo">Blocks</a>
            <a class="login-href" href="/compose"><button class="btn"></button></a>
            <div class="menuToggle"></div>
        </header>
        <!-- Menu items -->
        <nav class="navigation">
            <ul>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href=" #about">About</a>
                </li>
                <li>
                    <a href="#post">Post</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <!-- Banner (Parallax Layer One)-->
        <section class="banner" id="home">
            <div class="contentBx">
                <h2>Blocks</h2>
                <h4>A blog for twisty puzzels</h4><a href="#about" class="btn">About us</a>
            </div>
        </section>
        <!-- About (Parallax Layer Two)-->
        <section class="about" id="about">
            <div class="title">
                <h2>About us</h2>
            </div>
            <div class="contentBx">
                <div class="content">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit similique sit nemo illo
                        deserunt. Ea odit sed consequatur unde repellat mollitia porro
                        laboriosam
                        atque quasi placeat, magni vero ex, tempora eligendi assumenda doloremque neque ipsam,
                        incidunt
                        sit quibusdam! Provident sapiente, nostrum. Voluptas facere voluptatem eius, maiores magni
                        ducimus vitae unde nesciunt, reiciendis rerum assumenda cupiditate nemo aliquam ex nulla
                        culpa dolores quidem libero, voluptate laudantium odio, facere iusto nulla quaerat
                        aspernatur!
                        Ad animi minus ut nisi corporis officiis laborum, facere, a,nam. Veniam macupiditate nemo
                        aliquam ex nulla
                        culpa dolores quidem libero, voluptate laudantium odio, facere iusto nulla quaerat
                        aspernatur!
                        Ad an aspernatur!
                        Ad animi minus ut nisi corporis officiis laborum, facere, a,nam. Veniam maxime incidunt,
                        cupiditate nemo aliquam ex nulla
                        culpa dolores quidem libero, voluptate laudantium odio, facere iusto nulla quaerat
                        aspernatur!
                        Ad animi minus ut nisi corporis officiis laborum, facere, a,nam. Venimi minus ut nisi corporis
                        officiis laborum, facere, a,nam. Veniam maxime incidunt,
                        cupiditate nemo aliquam ex nulla
                        culpa dolores quidem libero, voluptate laudantium odio, facere iusto nulla quaerat
                        aspernatur!
                        Ad animi minus ut nisi corporis officiis laborum, facere, a,nam. Veniam maxime incidunt, xime
                        incidunt, modi
                        iure
                        est tenetur iusto id eligendi voluptatem earum assumenda ab aliquam, quaerat. Ab aut,
                        accusamus,
                        nihil a cumque consequuntur, vero saepe id accusantium, cum ducimus! Cupiditate at ab olimnis
                        porro debitis tempore non veritatis.
                    </p>
                </div>
                <div class="content">
                    <div class="imgbx">
                        <img src="/assets/images/cube-cover.png" class="cover">
                    </div>
                </div>
            </div>
        </section>
        <!-- Post -->
        <section class="post" id="post">
            <div class="title">
                <h2>Latest Posts</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium bae rem magnam inventore.
                </p>
            </div>
            <div class="contentBx">
                <div class="postColumn">
                    <div class="postBx">
                        <div class="imgbx">
                            <img src="/assets/images/cube-cover.png" class="cover">
                        </div>
                        <div class="titleBx">
                            <h2>TITLE</h2>
                        </div>
                        <div class="textBx">
                            <h2>Title</h2>
                            <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                deserunt,
                                reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                velit
                                quod.
                                <a href="#post" class="btn">Read More</a>
                        </div>
                    </div>
                    <div class="postBx">
                        <div class="imgbx">
                            <img src="/assets/images/cube-cover.png" class="cover">
                        </div>
                        <div class="titleBx">
                            <h2>TITLE</h2>
                        </div>
                        <div class="textBx">
                            <h2>Title</h2>
                            <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                deserunt,
                                reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                velit
                                quod.
                                <a href="#post" class="btn">Read More</a>
                        </div>
                    </div>
                    <div class="postBx extraheight">
                        <div class="imgbx">
                            <img src="/assets/images/cube-cover.png" class="cover">
                        </div>
                        <div class="titleBx">
                            <h2>TITLE</h2>
                        </div>
                        <div class="textBx">
                            <h2>Title</h2>
                            <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                deserunt,
                                reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                velit
                                quod.
                                <a href="#post" class="btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="postColumn">
                    <div class="postBx extraheight">
                        <div class="imgbx">
                            <img src="/assets/images/cube-cover.png" class="cover">
                        </div>
                        <div class="titleBx">
                            <h2>TITLE</h2>
                        </div>
                        <div class="textBx">
                            <h2>Title</h2>
                            <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                deserunt,
                                reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                velit
                                quod.
                                <a href="#post" class="btn">Read More</a>
                        </div>
                    </div>
                    <div class="postBx">
                        <div class="imgbx">
                            <img src="/assets/images/cube-cover.png" class="cover">
                        </div>
                        <div class="titleBx">
                            <h2>TITLE</h2>
                        </div>
                        <div class="textBx">
                            <h2>Title</h2>
                            <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                deserunt,
                                reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                velit
                                quod.
                                <a href="#post" class="btn">Read More</a>
                        </div>
                    </div>
                    <div class="postBx">
                        <div class="imgbx">
                            <img src="/assets/images/cube-cover.png" class="cover">
                        </div>
                        <div class="titleBx">
                            <h2>TITLE</h2>
                        </div>
                        <div class="textBx">
                            <h2>Title</h2>
                            <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                deserunt,
                                reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                velit
                                quod.
                                <a href="#post" class="btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="postColumn">
                    <div class="postBx">
                        <div class="imgbx">
                            <img src="/assets/images/cube-cover.png" class="cover">
                        </div>
                        <div class="titleBx">
                            <h2>TITLE</h2>
                        </div>
                        <div class="textBx">
                            <h2>Title</h2>
                            <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                deserunt,
                                reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                velit
                                quod.
                                <a href="#post" class="btn">Read More</a>
                        </div>
                    </div>
                    <div class="postBx">
                        <div class="imgbx">
                            <img src="/assets/images/cube-cover.png" class="cover">
                        </div>
                        <div class="titleBx">
                            <h2>TITLE</h2>
                        </div>
                        <div class="textBx">
                            <h2>Title</h2>
                            <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                deserunt,
                                reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                velit
                                quod.
                                <a href="#post" class="btn">Read More</a>
                        </div>
                    </div>
                    <div class="postBx extraheight">
                        <div class="imgbx">
                            <img src="/assets/images/cube-cover.png" class="cover">
                        </div>
                        <div class="titleBx">
                            <h2>TITLE</h2>
                        </div>
                        <div class="textBx">
                            <h2>Title</h2>
                            <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                deserunt,
                                reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                velit
                                quod.
                                <a href="#post" class="btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title">
                <a href="#" class="btn">Load More</a>
            </div>
        </section>


        <div class="demo-render">
            <% let postList = posts %> 
            <% for(let i = postList.length - 1;i>=0;i--){ %>
                <h1><%= postList[i].postTitle %> </h1> 
                <p><%= postList[i].postContent %> </p>
            <% } %> 
        </div>

        <!-- Contact -->
        <section class="contact" id="contact">
            <div class="title">
                <h2>Contact</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium bae rem magnam inventore.
                </p>
            </div>
            <div class="contactForm">
                <div class="row">
                    <input type="text" name="" placeholder="First Name">
                    <input type="text" name="" placeholder="Last Name">
                </div>
                <div class="row">
                    <input type="text" name="" placeholder="Email">
                    <input type="text" name="" placeholder="Mobile No.">
                </div>
                <div class="row2">
                    <textarea placeholder="Message"></textarea>
                </div>
                <div class="row2">
                    <input type="submit" value="Send" class="btn">
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <a href="#" class="logo">B&bull;B</a>
            <ul class="footerMenu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#post">Post</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </footer>
        <!--Scripts-->
        <script src="/assets/js/app.js"></script>
        <script src="/assets/js/loader.js"></script>
    </div>
</body>

</html>