<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlocksBlog</title>
    <link rel='stylesheet' type="text/css" href="/assets/css/style.css" />
    <link rel='stylesheet' href="/assets/css/loader.css">
</head>

<body>
    <div class="loaderbox">
        <div class="loader"></div>
    </div>
    <div class="main">
        <!-- Header -->
        <header>
            <a href="#" class="logo">Blocks</a>
            <button class="btn"></button>
            <div class="menuToggle"></div>
        </header>
        <!-- Menu items -->
        <nav class="navigation">
            <ul>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href=" #about">About</a>
                </li>
                <li>
                    <a href="#post">Post</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <!-- Banner (Parallax Layer One)-->
        <section class="parallax__layer banner" id="home">
            <div class="cover"></div>
            <div class="contentBx">
                <h2>Blocks</h2>
                <h4>A blog for twisty puzzels</h4><a href="#about" class="btn">About us</a>
            </div>
        </section>
        <!-- About (Parallax Layer Two)-->
        <section class="parallax__layer base">
            <section class="about" id="about">
                <div class="title">
                    <h2>About us</h2>
                </div>
                <div class="contentBx">
                    <div class="content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit similique sit nemo illo
                            deserunt. Ea odit sed consequatur unde repellat mollitia porro excepturi rem quaerat
                            assumenda
                            modi eveniet in illum quas, omnis, deleniti hic id eos autem est accusamus enim distinctio
                            esse
                            vel blanditiis? Nesciunt, praesentium, nisi! Fuga placeat possimus architecto tempora
                            explicabo
                            reiciendis nemo voluptatem at quod laboriosam doloremque ratione reprehenderit repudiandae
                            numquam aliquid temporibus, harum doloribus repellat nesciunt sequi libero. Asperiores
                            distinctio accusamus debitis veniam sunt ratione nemo est numquam, libero velit, vitae
                            reiciendis facere sapiente nostrum modi, itaque dolorum obcaecati quam doloribus ea non
                            voluptas. Iste sunt quas fugit provident doloremque nam ut totam, voluptatibus enim quod,
                            neque,
                            aspernatur quidem. Voluptatum nesciunt eius ipsa tempore nobis voluptas ex sequi, cum id
                            nihil
                            quo corporis dignissimos dicta, quam velit sunt debitis amet assumenda, similique error
                            cupiditate recusandae. Soluta necessitatibus qui, dolores, non iusto atque voluptatum enim,
                            eius
                            adipisci quod, autem repudiandae ipsam! Quisquam, hic. Iusto est sapiente atque deserunt,
                            molestias quasi doloribus optio odio eius quaerat modi id ullam veritatis earum nihil,
                            debitis
                            numquam et! At ad rerum fugit nesciunt nisi quia, ab dolorem laborum maiores dolor
                            laboriosam
                            atque quasi placeat, magni vero ex, tempora eligendi assumenda doloremque neque ipsam,
                            incidunt
                            sit quibusdam! Provident sapiente, nostrum. Voluptas facere voluptatem eius, maiores magni
                            ducimus vitae unde nesciunt, reiciendis rerum assumenda cupiditate nemo aliquam ex nulla
                            dolore,
                            consequuntur nihil iure. Explicabo quos sit laudantium atque. At, eos, tenetur. Optio
                            facilis,
                            quis voluptatem! Error molestias dolore modi laborum eaque maiores non.

                            Lorem ipsum dolor sit amet consectetur adipisicing, elit. Rerum deserunt dignissimos, alias
                            obcaecati. Facilis dolores doloribus, rem recusandae voluptatibus omnis itaque, non alias ea
                            doloremque deleniti possimus quasi corporis illo suscipit eaque cumque esse architecto,
                            aliquid
                            obcaecati sit. Accusamus, dolores, iure! Nostrum ea itaque ab, commodi. Qui corrupti,
                            recusandae
                            soluta obcaecati aspernatur quod porro ipsa quibusdam quisquam, ut odit. Voluptate
                            distinctio
                            ratione debitis vero, molestias cumque quibusdam. Repudiandae culpa, inventore, quidem
                            fugiat
                            odit sint vitae debitis nihil illum provident architecto esse aliquam quia sunt, iure optio
                            maiores. Cumque, possimus vero, necessitatibus esse atque repudiandae quibusdam dolores
                            tempora
                            excepturi modi ipsum quis delectus eaque dignissimos blanditiis sed. Earum iste ab
                            laboriosam ex
                            voluptates dicta delectus hic corporis doloribus aut consectetur porro modi id reiciendis
                            magni
                            culpa dolores quidem libero, voluptate laudantium odio, facere iusto nulla quaerat
                            aspernatur!
                            Ad animi minus ut nisi corporis officiis laborum, facere, a, ducimus modi beatae ab ipsum
                            corrupti cum facilis similique dolores veritatis recusandae labore nemo vitae debitis harum
                            impedit! Eum ad voluptatem tenetur numquam magnam, enim nemo vero accusamus maxime nihil
                            officia
                            unde consectetur officiis culpa, hic blanditiis. Laborum asperiores qui possimus dolore,
                            unde,
                            facilis. Eaque recusandae quisquam hic a explicabo esse nesciunt beatae quae maiores illum
                            odio
                            nobis doloremque, unde deleniti aliquam ab ea ducimus magnam. Veniam maxime incidunt, modi
                            iure
                            est tenetur iusto id eligendi voluptatem earum assumenda ab aliquam, quaerat. Ab aut,
                            accusamus,
                            nihil a cumque consequuntur, vero saepe id accusantium, cum ducimus! Cupiditate at ab omnis
                            porro debitis tempore non veritatis.
                        </p>
                    </div>
                    <div class="content">
                        <div class="imgbx">
                            <img src="/assets/images/cube-cover.png" class="cover">
                        </div>
                    </div>
                </div>
            </section>
            <!-- Post -->
            <section class="post" id="post">
                <div class="title">
                    <h2>Latest Posts</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium bae rem magnam inventore.
                    </p>
                </div>
                <div class="contentBx">
                    <div class="postColumn">
                        <div class="postBx">
                            <div class="imgbx">
                                <img src="/assets/images/cube-cover.png" class="cover">
                            </div>
                            <div class="titleBx">
                                <h2>TITLE</h2>
                            </div>
                            <div class="textBx">
                                <h2>Title</h2>
                                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                    deserunt,
                                    reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                    velit
                                    quod.
                                    <a href="#post" class="btn">Read More</a>
                            </div>
                        </div>
                        <div class="postBx">
                            <div class="imgbx">
                                <img src="/assets/images/cube-cover.png" class="cover">
                            </div>
                            <div class="titleBx">
                                <h2>TITLE</h2>
                            </div>
                            <div class="textBx">
                                <h2>Title</h2>
                                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                    deserunt,
                                    reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                    velit
                                    quod.
                                    <a href="#post" class="btn">Read More</a>
                            </div>
                        </div>
                        <div class="postBx extraheight">
                            <div class="imgbx">
                                <img src="/assets/images/cube-cover.png" class="cover">
                            </div>
                            <div class="titleBx">
                                <h2>TITLE</h2>
                            </div>
                            <div class="textBx">
                                <h2>Title</h2>
                                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                    deserunt,
                                    reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                    velit
                                    quod.
                                    <a href="#post" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="postColumn">
                        <div class="postBx extraheight">
                            <div class="imgbx">
                                <img src="/assets/images/cube-cover.png" class="cover">
                            </div>
                            <div class="titleBx">
                                <h2>TITLE</h2>
                            </div>
                            <div class="textBx">
                                <h2>Title</h2>
                                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                    deserunt,
                                    reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                    velit
                                    quod.
                                    <a href="#post" class="btn">Read More</a>
                            </div>
                        </div>
                        <div class="postBx">
                            <div class="imgbx">
                                <img src="/assets/images/cube-cover.png" class="cover">
                            </div>
                            <div class="titleBx">
                                <h2>TITLE</h2>
                            </div>
                            <div class="textBx">
                                <h2>Title</h2>
                                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                    deserunt,
                                    reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                    velit
                                    quod.
                                    <a href="#post" class="btn">Read More</a>
                            </div>
                        </div>
                        <div class="postBx">
                            <div class="imgbx">
                                <img src="/assets/images/cube-cover.png" class="cover">
                            </div>
                            <div class="titleBx">
                                <h2>TITLE</h2>
                            </div>
                            <div class="textBx">
                                <h2>Title</h2>
                                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                    deserunt,
                                    reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                    velit
                                    quod.
                                    <a href="#post" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="postColumn">
                        <div class="postBx">
                            <div class="imgbx">
                                <img src="/assets/images/cube-cover.png" class="cover">
                            </div>
                            <div class="titleBx">
                                <h2>TITLE</h2>
                            </div>
                            <div class="textBx">
                                <h2>Title</h2>
                                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                    deserunt,
                                    reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                    velit
                                    quod.
                                    <a href="#post" class="btn">Read More</a>
                            </div>
                        </div>
                        <div class="postBx">
                            <div class="imgbx">
                                <img src="/assets/images/cube-cover.png" class="cover">
                            </div>
                            <div class="titleBx">
                                <h2>TITLE</h2>
                            </div>
                            <div class="textBx">
                                <h2>Title</h2>
                                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                    deserunt,
                                    reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                    velit
                                    quod.
                                    <a href="#post" class="btn">Read More</a>
                            </div>
                        </div>
                        <div class="postBx extraheight">
                            <div class="imgbx">
                                <img src="/assets/images/cube-cover.png" class="cover">
                            </div>
                            <div class="titleBx">
                                <h2>TITLE</h2>
                            </div>
                            <div class="textBx">
                                <h2>Title</h2>
                                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ratione
                                    deserunt,
                                    reprehenderit quos repudiandae amet modi animi totam deleniti laborum ea provident
                                    velit
                                    quod.
                                    <a href="#post" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title">
                    <a href="#" class="btn">Load More</a>
                </div>
            </section>

            <!-- Contact -->
            <section class="contact" id="contact">
                <div class="title">
                    <h2>Contact</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium bae rem magnam inventore.
                    </p>
                </div>
                <div class="contactForm">
                    <div class="row">
                        <input type="text" name="" placeholder="First Name">
                        <input type="text" name="" placeholder="Last Name">
                    </div>
                    <div class="row">
                        <input type="text" name="" placeholder="Email">
                        <input type="text" name="" placeholder="Mobile No.">
                    </div>
                    <div class="row2">
                        <textarea placeholder="Message"></textarea>
                    </div>
                    <div class="row2">
                        <input type="submit" value="Send" class="btn">
                    </div>
                </div>
            </section>
        </section>
        <!-- Footer -->
        <footer>
            <a href="#" class="logo">B&bull;B</a>
            <ul class="footerMenu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#post">Post</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </footer>
        <!--Scripts-->
        <script src="/assets/js/app.js"></script>
        <script src="/assets/js/loader.js"></script>
    </div>
</body>

</html>