<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="assets/css/login.css" />
    <title>Document</title>
  </head>

  <body>
    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="box">
        <div class="container">
          <div class="form">
            <h2>
              <form method="post" action="/login">
                <div class="inputBox">
                  <p>Email</p><input name="username" type="text" />
                </div>
                <div class="inputBox">
                  <p>Password</p>
                  <input name="password" type="password" />
                </div>
                <div class="inputBox">
                  <input type="submit" value="Login" />
                </div>
              </form>
            </h2>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
