@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);

* {
font-family:Quicksand, sans-serif;
box-sizing:border-box;
scroll-behavior:smooth;
margin:0;
padding:0;
}

:root {
--black:#333;
--white:#fff;
}

::-webkit-scrollbar {
width:7px;
}

::-webkit-scrollbar-thumb {
background-color:rgba(0,0,0,.41);
border-radius:10rem;
padding:4%;
}

body {
min-height:150vh;
transition:all 1s ease-in;
background-image:url(/assets/images/cube-minimal.jpg);
background-attachment:fixed;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
overflow:hidden;
}

body.active {
overflow:overlay;
background-image:url(/assets/images/cube-minimal.jpg);
background-attachment:fixed;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}

header {
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
align-items:center;
background:transparent;
z-index:100;
padding:10px 100px;
}

p {
color:var(--black);
font-weight:300;
text-align:justify;
}

.main {
opacity:0;
transition:all 1s ease;
display:none;
}

.logo {
position:relative;
display:inline-block;
color:var(--white);
text-decoration:none;
font-size:1.7em;
font-weight:600;
text-transform:uppercase;
letter-spacing:2px;
padding:4px;
}

.login-href{
    margin-left: 67rem;
}

.btn {
position:relative;
display:inline-block;
border:2px solid var(--black);
color:var(--black);
background:var(--white);
transition:.35s;
text-decoration:none;
font-size:18px;
font-weight:600;
letter-spacing:2px;
text-transform:uppercase;
border-radius:2em;
background-color:rgba(235,235,235,.9);
padding:8px 20px;
}

.btn:hover {
color:var(--white);
background:var(--black);
}

header .btn {
background:url(../images/enter.png);
background-repeat:no-repeat;
background-size:40px;
display:flex;
margin-left:auto;
margin-right:25px;
margin-top:2px;
border:none;
cursor:pointer;
background-position:-2px -1.2px;
filter:invert(100%);
padding:20px;
}

header .btn.active {
background:url(../images/user-interface.png);
filter:invert(100%);
border-radius:2em;
background-repeat:no-repeat;
background-size:40px;
}

.menuToggle {
display:flex;
position:relative;
width:38px;
height:38px;
background:url(../images/menu.png);
background-size:27px;
background-repeat:no-repeat;
background-position:center;
cursor:pointer;
align-items:center;
filter:invert(100%);
}

.menuToggle.active {
background:url(../images/close.png);
filter:invert(0);
background-size:21px;
background-repeat:no-repeat;
background-position:center;
cursor:pointer;
}

.navigation {
position:fixed;
width:100%;
height:100%;
background-color:rgba(235,235,235,.96);
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
clip-path:circle(0px at 95% -10%);
transition:all 1.3s ease-in-out;
pointer-events:none;
z-index:90;
}

.navigation.active {
clip-path:circle(3000px at 90% -10%);
pointer-events:all;
}

.navigation ul li {
display:flex;
align-items:center;
flex-direction:column;
list-style:none;
margin:5vh 0;
}

.navigation ul li a {
color:var(--black);
font-size:1.2em;
letter-spacing:4px;
display:inline-block;
font-weight:400;
text-decoration:none;
text-transform:uppercase;
}

section {
position:relative;
width:100%;
min-height:100vh;
padding:100px;
}

.cover {
position:absolute;
width:100%;
height:100%;
object-fit:cover;
border-radius:1.2em;
}

.banner {
display:flex;
justify-content:center;
align-items:center;
padding:17vw;
}

.banner .contentBx {
opacity:.90;
position:relative;
z-index:1;
background:rgba(225,225,225,0.85);
box-shadow:0 8px 32px 0 rgba(225,225,225,0.2);
backdrop-filter:blur(7px);
border-radius:2em;
border:1px solid rgba(255,255,255,0.18);
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
padding:65px;
}

.banner .contentBx h2 {
font-size:2.6em;
font-weight:600;
color:var(--black);
letter-spacing:2px;
text-align:center;
text-transform:uppercase;
}

.banner .contentBx h4 {
font-size:1.2em;
font-weight:500;
color:var(--black);
letter-spacing:4px;
text-align:center;
text-transform:uppercase;
}

.demo-render{
    background-color: #fff;
}

.banner .btn {
margin:20px 0 0;
}

.title {
width:100%;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

.title h2 {
position:relative;
font-weight:500;
letter-spacing:2px;
font-size:1.4em;
text-transform:uppercase;
color:var(--black);
background-color:var(--white);
border:3.5px solid var(--black);
border-radius:2em;
padding:3px 10px;
}

.title p {
max-width:700px;
text-align:center;
background-color:var(--white);
border:3.5px solid var(--black);
border-radius:2em;
}

.title h2::after {
content:'';
position:absolute;
display:block;
bottom:-10px;
left:35%;
width:40px;
height:6px;
background:var(--white);
border-radius:.5em;
border:3.5px solid var(--black);
}

.about .contentBx {
position:relative;
margin-top:70px;
display:grid;
grid-template-columns:1fr 1fr;
grid-gap:40px;
background:rgba(225,225,225,0.85);
box-shadow:0 8px 32px 0 rgba(225,225,225,0.3);
backdrop-filter:blur(7px);
border-radius:2em;
border:1px solid rgba(255,255,255,0.18);
padding:10px;
}

.about .contentBx .content {
position:relative;
font-size:1.1em;
}

.about .contentBx .content .imgbx {
min-height:400px;
}

.post {
position:relative;
background-clip:content-box;
border-radius:7.5em;
}

.post .contentBx {
position:relative;
display:grid;
grid-template-columns:1fr 1fr 1fr;
grid-gap:20px;
margin-top:20px;
background:rgba(225,225,225,0.85);
box-shadow:0 8px 32px 0 rgba(225,225,225,0.2);
backdrop-filter:blur(5px);
border-radius:2em;
border:1px solid rgba(255,255,255,0.18);
margin-bottom:20px;
padding:80px 10px 100px;
}

.post .contentBx .postColumn {
position:relative;
}

.post .contentBx .postColumn .postBx {
position:relative;
width:100%;
height:400px;
margin-top:20px;
transition:transform .5s ease;
}

.post .contentBx .postColumn .postBx:hover {
transform:scale(1.02);
}

.post .contentBx .postColumn .postBx.extraheight {
height:650px;
}

.post .contentBx .postColumn .postBx .titleBx {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
display:flex;
justify-self:flex-end;
align-items:flex-start;
flex-direction:column-reverse;
transition:.5s;
animation:ease-out;
visibility:visible;
padding:20px;
}

.post .contentBx .postColumn .postBx .textBx {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:var(--white);
display:flex;
justify-content:flex-end;
align-items:flex-start;
flex-direction:column;
transition:.5s;
animation:ease-in;
opacity:0;
visibility:hidden;
border-radius:1.1em;
padding:20px;
}

.post .contentBx .postColumn .postBx:hover .textBx {
opacity:.85;
visibility:visible;
}

.post .contentBx .postColumn .postBx:hover .titleBx {
visibility:hidden;
}

.post .contentBx .postColumn .postBx .textBx h3 {
font-weight:400;
font-size:1em;
letter-spacing:1px;
color:var(--black);
}

.post .contentBx .postColumn .postBx .textBx .btn {
background:var(--white);
color:var(--black);
font-weight:300;
font-size:1em;
padding:4px 10px;
}

.contact {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
padding:0 15%;
}

.contact .contactForm {
position:relative;
width:100%;
margin-top:20px;
background:rgba(225,225,225,0.85);
box-shadow:0 8px 32px 0 rgba(225,225,225,0.3);
backdrop-filter:blur(5px);
border-radius:2em;
border:1px solid rgba(255,255,255,0.18);
padding:20px 30px;
}

.contact .contactForm .row {
width:100%;
display:grid;
grid-template-columns:repeat(2,1fr);
grid-gap:20px;
margin-top:20px;
}

.contact .contactForm .row2 {
width:100%;
display:flex;
align-items:center;
justify-content:center;
margin-top:20px;
}

.contact .contactForm .row input,.contact .contactForm .row2 textarea {
width:100%;
border:1px solid var(--black);
outline:none;
background:var(--white);
color:var(--black);
font-size:16px;
font-weight:500;
text-transform:uppercase;
letter-spacing:2px;
padding:10px;
}

.contact .contactForm .row2 textarea {
height:200px;
}

footer {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background:#F9F9F9;
border-top:1px solid rgba(0,0,0,0.05);
border-top-left-radius: 50% 30%;
border-top-right-radius: 50% 30%;
padding:100px;
}

footer .footerMenu {
display:flex;
}

footer .footerMenu li {
list-style:none;
}

footer .footerMenu li a {
display:inline-block;
text-decoration:none;
color:var(--black);
text-transform:uppercase;
letter-spacing:2px;
margin:20px;
}

::-webkit-scrollbar-track-piece:start,::-webkit-scrollbar-track-piece:end {
background:transparent;
}

::placeholder,footer .logo {
color:var(--black);
}